# General
.DS_Store
.vscode/
.claude/
.netrc
ROADMAP.md

# Swift
.build/
/Packages
/DerivedData/
Package.resolved

# Xcode
xcuserdata/
*.xcodeproj
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/configuration/registries.json
